<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게임진행중 게스트유저ver</title>
</head>

<body>
    <main>
        <p>
            {{ game.id }} - {{ game.guestUser.guestUser.id }} VS {{ game.hostUser.id }}
        </p>

        {% if game.ing %} <!--1-->
        {% if user == game.hostUser.id %} <!--2-->
        <div>
            진행중...
            <br>
            <a href="">게임 취소</a> <!--게임취소 url 추가 필요-->
        </div>
        {% elif user == game.guestUser.guestUser.id %}
        <div>
            <a href="">대응하기</a> <!--대응하기 url 추가 필요-->
        </div>
        <hr>
        {% endif %} <!--2-->
        {% else %}
        <hr />
        {% if game.standard %} <!--높은 쪽이 이기는 경우--> <!--3!!!!!!!!!!!!-->
        <p>숫자가 더 큰 사람이 대결에서 이깁니다</p>
        {% else %} <!--낮은 쪽이 이기는 경우-->
        <p>숫자가 더 작은 사람이 대결에서 이깁니다</p>
        {% endif %} <!--3-->
        <hr />

        {% if user == game.hostUser %} <!--4-->
        <p>{{ game.guestUser.guestUser.id }}: {{ game.guestUser.guestUser.card }}</p>
        <p>나: {{ game.hostUser.card }}</p>
        {% else %}
        <p>{{ game.hostUser.id }}: {{ game.hostUser.card }}</p>
        <p>나: {{ game.guestUser.guestUser.card }}</p>
        {% endif %} <!--4-->
        <hr />

        <p>결과: {{ game.result }}</p>
        <hr />

        <p><span>점수</span>: {{ game.score }}</p> <!--score가 자동으로 업데이트 되는지 확인필요-->
        {% endif %} <!--1-->

        <div>
            <a href="">전적 목록</a> <!--전적목록 url 추가 필요-->
        </div>
    </main>
</body>

</html>